<h1>
   燈入夜面
</h1>

<form method="post" action="/Account/Login">
    <label>帳號</label>
    <input name="Account" type="text" />
    <br />
    <label>*密碼</label>
    <input name="Password" type="text" />
    <br />

    <button type="submit">登入</button>
    <span>***</span>
</form>