<h1>
    註冊會員
</h1>
<form method="post" action="/Account/Signup">
    <label>*Email</label>
    <input name="Email" type="email" />
    <br />
    <label>*姓名</label>
    <input name="Name" type="text" />
    <br />
    <label>電話</label>
    <input name="Phone" type="text" />
    <br />
    <label>*密碼</label>
    <input name="Password" type="text" />
    <br />
    <label>*確認密碼</label>
    <input name="PasswordCheck" type="text" />
    <br />
    <button type="submit">註冊</button>
    <span>***</span>
</form>